.second{
    background-color: #f9fafb;
    width: 100vw;
    padding: 200px 0px;
    display: flex;
    justify-content: center;
}
.second >.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
}
.second>.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;

    color: #191F28;
    font-weight: bold;
}