.box{
    width: 300px;
    height:300px;
    border: 1px solid ;
}
.test{
    width: 300px;
    height:300px;
    border: 1px solid ;
}
.test1{
    width: 300px;
    height:300px;
    border: 1px solid ;
}
.album{
    width: 300px;
    height:200px;
}
.album1{
    width: 100px;
    height:100px;
}

.album > img{
    height: 100%;
    weight: 100%;
}